body{
font-family: sans-serif;
background-color: linen;
}

.sidebar{
    position:fixed;
    height: 100%;
    width: 250px;
    background-color: #2A91B5;
    color: linen;
    top: 0;
    left: 0; 
    padding-top: 25px;
    padding-left: 25px;
    
}

.sidebar a{
    padding-top: 45px;
    padding-left: 35px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: linen;

}


img{
    border-radius: 50%;
    /*border: 5px solid #f4b21e;*/
    background-color: linen;
}

.not-sidebar{
    margin-left: 25%;
    padding: 0px 10px;
    font-size: 36px;
    padding-top: 5%;
    color: #f4b21e; 
}

.button{
  border-radius: 100%;
  background-color: #f4b21e;
  border: none;
  color: linen;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  cursor: pointer;
  margin-left: 50%;
}


.icons{
    display: inline-flex;
}

.banner{
   
}

.salutations{
    margin-left: 25%;
    color: black;
    font-size: 18px;
}

.about{
    margin-left: 25%;
    color: black;
    font-size: 25px;
}
